<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Scope and Digest</title>
        <link rel="stylesheet" href="index.css">
        <script src = "angular.min.js"></script>
        <script src="app.js"></script>
    </head>

    <!--Declared ng-app-->
    <body ng-app = "learndigest">
        <!--Initialise controller-->
        <div ng-controller="PlaygroundCtrl as vm">
            <div>
                <!--Bind variable from app.js-->
                Hello force {{ vm.force }}
            </div>

            <!--Bind variable in input field-->
            <input type="number" ng-model="vm.force">

            <!--Button to reset input field to 0-->
            <button type="button" ng-click="vm.resetForce()">Reset</button>

            <!--Another controller within Playground controller-->
            <div ng-controller="InternalCtrl as vm">
                <div>The secret is: {{ vm.secret }}</div>
                <!--Force defined in PlaygroundCtrl can be used here as well-->
                <div>The internal force is {{ vm.playground.force }}</div>
                <input type="number" ng-model="vm.playground.force">
            </div>
        </div>
    </body>
</html>