<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Scope and Digest</title>
        <link rel="stylesheet" href="index.css">
        <script src = "angular.min.js"></script>
        <script src="app.js"></script>
    </head>

    <!--Declared ng-app-->
    <body ng-app = "learndigest">
        <!--Initialise controller-->
        <div ng-controller="PlaygroundCtrl as vm">
            <div>
                <!--Bind variable from app.js-->
                Hello force {{ vm.force }}
            </div>

            <!--Bind variable in input field-->
            <input type="number" ng-model="vm.force">

            <!--Button to reset input field to 0-->
            <button type="button" ng-click="vm.resetForce()">Reset</button>

            <!--Using ng-if for if force is even-->
            <!--If the force is odd, watcher does not watch this, that is to say internal controller is not executed-->
            <div ng-if="vm.force % 2 == 0">
                <div ng-controller="InternalCtrl as vm">
                    The internal controller has arrived!
                </div>
            </div>

        </div>
    </body>
</html>